{% extends 'base.html.twig' %}

{% block title %}bienvenue sur le site hackatWeb{% endblock %}

{% block body %} 
<h6 style="color:#FFFFFF;"> Bienvenue sur la page d'accueil de notre site. <br>
vous voulez découvrir ce qu'est un hackathon, vous êtes au bon endroit. <br>
Ou si vous êtes un habitué des hackathons vous etes aussi au bon endroit. </h6> <br>
<img src="https://figurinepop.com/public/vaultboy1_1.jpg" class="img-fluid " alt="..."> <br><br>
<h6 style="color:#FFFFFF;"> nous rassemblons une communautée de personnes bienveillantes et désireuses de nouveaux projets.<br>
nous aimons le challenge et n'hésitons pas à nous lancer des defis informatiques dignes de ce nom. </h6> <br><br><br>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://th.bing.com/th/id/R.0032133a534c3dfa07dca3d6acb5520c?rik=e5filgZRkd1jlA&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://ibp.info6tm.fr/api/v1/images/view/60b4ed3bd286c277fd72da26/article/image.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://ibp.info6tm.fr/api/v1/images/view/60b4ed3bd286c277fd72da26/article/image.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}
